# These resources will start by default.
ensure mapmanager
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure fivem
ensure hardcap
ensure rconlog
ensure scoreboard

# Essential Resources
set es_enableCustomData 1
set mysql_connection_string "server=localhost;database=essentialmode;uid=root;password=Rpsver@231"
set steam_webApiKey "E55BDA0C0EBE820215D93ED4656598CA"

add_ace resource.essentialmode command.sets allow
add_ace resource.essentialmode command.add_principal allow
add_ace resource.essentialmode command.add_ace allow

ensure mysql-async
ensure essentialmode
ensure esplugin_mysql 
ensure es_admin2
ensure es_ui
ensure es_extended



